[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = "*"
# this is redundant with django-environ and can be removed
# once the bot code is refactored into the server
python-dotenv = "*"
django = "*"
"django-heroku" = "*"
gunicorn = "*"
django-environ = "*"

[requires]
python_version = "3.7"
